<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <h3 dir="rtl" text-center *ngIf="selectedItem">
            {{selectedItem.fulltext}}
            <ion-icon [name]="selectedItem.icon"></ion-icon>
        </h3>
    </ion-card>
  <ion-footer align-items-center="">
      <b>{{selectedItem.title}}</b>
  </ion-footer>
</ion-content>
